body {
    font-family: Arial, sans-serif;
    background-color: #4ceb08;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    width: 300px;
    margin: auto;
    background-color: #ecbd16;
    padding: 20px;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

input[type="submit"] {
    width: 100%;
    background-color: #f419a8;
    color: rgb(11, 11, 11);
    padding: 10px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
